*.html
*.log
*.yml
*.json
*.md
*.sh
*.txt
*.xml
*.lock
.prettierrc
.eslintrc.js
.watchmanconfig
.gitignore
.github
.bundle
node_modules
android
ios
vendor
GoogleService-Info.plist
babel.config.js
react-native.config.js
metro.config.js
Gemfile
.prettierignore
src/assets
